* {
    padding: 0px;
    margin: 0px;
    font-family: 'Cinzel', serif;
}

body {
    background-image: url("topography.png");
    height: 1500px;
}

#navbar {
    overflow: hidden;
    background-color: #333;
    top: 0px;
    width: 100%;

  }

#navbar a {
    text-align: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
    transition: .3s;
}

#navbar a:hover {
    background: white;
    color: black;
}

#navbar ul li {
    display: inline-block;
}

.navbar-left {
    float: left;
    margin-left: 10px;
}
    
.navbar-right {
    float: right;
    margin-right: 10px;
}

/*SideBar*/
.sidenav {
    text-align: left;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: .8s;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sidenav a:hover {
    color: #f1f1f1;
    
}

.sidenav .closebtn {
    font-size: 36px;
    float: right;
    cursor: pointer;
    height: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sidenavOptions {
    align-items: left;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*End of SideBar*/
#insult-display {
    font-size: 30px;
    text-align: center;
    border-style: solid;
    margin: 0px 100px;
    box-shadow: 5px 5px #ccc;
    cursor: default;
}

#content {
    margin-top: 350px;
}

.generate-button {
    margin-top: 20px; 
    text-align: center;
}

input {
    border-color: rgb(138, 138, 138);
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 8px;
    outline: none;
    font-size: 18px;
}

/*Creates the sticky Navbar*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

.sticky + .content {
  padding-top: 102px;
}

.fa-bars, .fa-cog, .fa-window-close {
    line-height:inherit!important;
    vertical-align: middle;
}

.fa-bars {
    padding: 17px 12px;
}
